<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>travel app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <h1 class="header">Travel Planner</h1>

    <div id="trips">
    </div>

    <div class="trip-form">
        <form>
            <div class="form-theme">
                <div class="row">
                    <label class="label-theme" for="location">My trip to: </label>
                    <input id="location" class="input-theme" type="text" placeholder="Enter Location">
                </div>

                <div class="row">
                    <label class="form-label" for="date">Departing: </label>
                    <input id="departing" class="input-theme" type="text" placeholder="MM/DD/YYYY">
                </div>

                <div class="row">
                    <input id="submit" class="submit-theme" type="submit" value="save trip">
                </div>
            </div>
        </form>
    </div>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>