<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>travel app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <h1 class="header">Travel Planner</h1>

    <div class="trips">
        <div class="trip-container">
            <div class="image-container"></div>

            <div class="details-container">
                <p>My trip to: Paris, France</p>
                <p>Departing: 02/12/2020</p>
            </div>

            <button class="remove">remove trip</button>

            <div class="left-time">Paris, France is 220 days away</div>

            <div class="weather">
                <p> Typical weather for then is:</p>
                <p>High -46, Low 35</p>
                <p>Mostly cloudy throughout the day.</p>
            </div>
        </div>
    </div>

    <div class="trip-form">
        <form>
            <div class="form-theme">
                <div class="row">
                    <label class="label-theme" for="location">My trip to: </label>
                    <input id="location" class="input-theme" type="text" placeholder="Enter Location">
                </div>

                <div class="row">
                    <label class="form-label" for="date">Departing: </label>
                    <input id="departing" class="input-theme" type="text" placeholder="MM/DD/YYYY">
                </div>

                <div class="row">
                    <input id="submit" class="submit-theme" type="submit" value="save trip">
                </div>
            </div>
        </form>
    </div>
    <script src="bundle.js" async defer></script>
</body>

</html>